:root {
	--nav-height: 63px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--color);
	scrollbar-width: none;
}

h1 {
	font-weight: 800;
	font-size: 2.25em;
}

p {
	font-size: 18px;
	color: var(--color-secondary);
	line-height: 31.5px;
}

nav > .wrapper > .burger > div {
	background-color: var(--color);
}

*::-webkit-scrollbar {
	display: none;
}

body {
	background-color: var(--background);
	overflow: hidden;
}

html {
	overflow: scroll;
}

.title {
	margin-bottom: 20px;
}

nav > .wrapper > h1 {
	color: var(--brand-color);
}

button {
	border: 1px solid var(--button-border);
	background-color: var(--button-background);
	color: var(--button-color);
	border-radius: 10px;
	cursor: pointer;
	padding: 5px 10px;
	font-size: 16px;
	outline: none;
	transition: background 0.3s, border 0.3s;
	transition-timing-function: ease;
}

button:hover {
	background-color: var(--button-hover-background);
}

button:disabled {
	border: 1px solid var(--button-disabled-border);
	background-color: var(--button-disabled-background);
	color: var(--button-disabled-color);
}

input {
	border: 1px solid var(--input-border);
	background-color: var(--input-background);
	color: var(--input-color);
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 16px;
	letter-spacing: 1px;
	outline: none;
	transition: all 0.3s ease;
}

input:focus {
	border: 1px solid var(--input-focus-border);
}

input:disabled {
	border: 1px solid var(--input-disabled-border);
	background-color: var(--input-disabled-background);
	color: var(--input-disabled-color);
}

*:disabled {
	cursor: not-allowed;
}

.hint {
	color: var(--hint);
}

.warning {
	color: var(--warning);
}

.darken {
	background: var(--darken-background);
	backdrop-filter: blur(2px);
}

.error {
	color: var(--error);
}

.card {
	text-align: center;
	border: 1px solid var(--card-border);
	background-color: var(--card-background);
	border-radius: 20px;
	padding: 20px;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadein {
	animation: 0.3s ease fadein forwards;
}

nav {
	border-bottom: 1px solid var(--nav-border);
	background-color: var(--nav-background);
	backdrop-filter: blur(2px);
}

footer {
	border-top: 1px solid var(--footer-border);
	background-color: var(--footer-background);
}

a {
	color: var(--a-color);
	font-size: 18px;
	font-weight: 600;
	border-left: 0px solid;
	border-right: 0px solid;
	border-top: 0px solid;
	border-bottom: 1px solid var(--brand-color);
	cursor: pointer;
	text-decoration: none;
	text-decoration-line: none;
	padding-bottom: 1px;
}

a:hover {
	border-bottom-width: 2px;
	color: var(--a-color-hover);
}

.active,
.active * {
	color: var(--active-color);
}

.root {
	min-height: calc(100vh - var(--nav-height));
}

.short {
	max-width: 500px;
}

.break {
	word-break: break-all;
	line-break: strict;
	white-space: pre-wrap;
}
